@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-border: var(--border);
  
  --font-sans: Inter, Arial, Helvetica, sans-serif;
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --radius: 0.75rem;

  --gradient-start: hsl(190 100% 50%);
  --gradient-mid: hsl(230 100% 60%);  
  --gradient-end: hsl(280 100% 60%);   
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #f5f5f5;
  --card-foreground: #171717;
  --primary: hsl(190 100% 35%);
  --border: #e5e5e5;
}

:root.dark {
  --background: hsl(240 10% 3.9%);    
  --foreground: hsl(0 0% 98%);        

  --card: hsl(240 10% 5%);            
  --card-foreground: hsl(0 0% 98%);

  --primary: hsl(190 100% 50%);        
  --primary-foreground: hsl(240 10% 3.9%);

  --accent: hsl(270 100% 60%);        
  --accent-foreground: hsl(0 0% 98%);

  --border: hsl(240 5% 18%);           
}



.text-gradient {
  background: linear-gradient(
    to right, 
    var(--gradient-start), 
    var(--gradient-mid), 
    var(--gradient-end)
  );
  
  -webkit-background-clip: text;
  background-clip: text;
  
  color: transparent;
}